.header{
  text-decoration: none; /* Remove underline */
  color: black; /* Inherit color from its parent */
  cursor: pointer; /* Show pointer cursor on hover */
  display: flex;
  /* justify-content: left; */
  margin-left: 50px;
  font-size: 150%;
 
}

.word{
  color:black;
  margin-top: 100px;
  margin-left: 200px;
  font-size: 170%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.definition{
  color:black;
  margin-top: 50px;
  margin-left: 250px;
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

