:root {
  --base-font-size: 1rem; /* Default font size for desktop */
  margin-bottom: 50px;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  :root {
      --base-font-size: 0.75rem; /* Smaller font size for mobile (14px if root is 16px) */
  }
}

.header{
  text-decoration: none; /* Remove underline */
  color: blue; /* Inherit color from its parent */
  cursor: pointer; /* Show pointer cursor on hover */
  display: flex;
  /* justify-content: leftt; */
  margin-left: 50px;
  font-size: calc(var(--base-font-size) * 1.5);
}

.word{
  color:black;
  margin-top: 80px;
  margin-left: 125px;
  margin-right: 75px;
  font-size: calc(var(--base-font-size) * 1.7);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.definition{
  color:black;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 175px;
  margin-right: 135px;
  font-size: calc(var(--base-font-size) * 1.3);
  font-family: Arial, Helvetica, sans-serif;
}

.caption{
  color:black;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 175px;
  margin-right: 75px;
  font-size: calc(var(--base-font-size) * 1.3);
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}


.embedimage{
  width: 30%;
  height: 30%;
  margin-bottom: 0px;
  margin-left: 175px;
  margin-right: 75px;
}

.biggerimage{
  width: 35%;
  height: 35%;
  margin-bottom: 30px;
  margin-left: 175px;
  margin-right: 75px;
}

.bigimage{
  width: 50%;
  height: 50%;
  margin-bottom: 50px;
  margin-left: 175px;
  margin-right: 75px;
}

.smallimage{
  width: 70%;
  height: 70%;
  margin-bottom: 50px;
  margin-left: 175px;
  margin-right: 75px;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .word {
      margin-left: 25px; /* Smaller padding for portrait mode on mobile */
      margin-right: 25px;
      margin-top: 50px;
  }
  .definition{
      margin-left: 25px;
      margin-right: 35px;
  }
  .header {
    margin-left: 25px;
  }

  .caption{
    color:black;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

.embedimage{
  width: 70%;
  height: 70%;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
}

.biggerimage{
  width: 75%;
  height: 75%;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.bigimage{
  width: 80%;
  height: 80%;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.smallimage{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  margin-left: 25x;
  margin-right: 25px;
}


}
